body {
    background: rgb(233, 232, 232);
}
.container {
    max-width: 1200px;
}
.button.button-primary {
    background-color: #000;
    border-color: #000;
}
.button.button-primary:hover,
.button.button-primary:focus  {
    background-color: #222;
    border-color: #222;
}

/* fancy underline */
.fancy-underline {
    text-align: center;
    position: relative;
    display: inline-block;
}
.fancy-underline:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 10px;
    width: 105%;
    left: 50%;
    bottom: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* utils */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
